@import url(http://fonts.googleapis.com/css?family=Aladin);

body,
html,
div.board,
div#notes-container {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
}

div.board {
  background-color: 'brown';
  width: 100%;
  background: cornflowerblue;
}

div.note {
  height: 200px;
  width: 200px;
  background-color: chartreuse;
  position: absolute;
  cursor: -webkit-grab;
  box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, .2);
  overflow: hidden;
}

div.note:active {
  cursor: -webkit-grabbing;
}

div.note p {
  margin: 0;
  font-size: 22px;
  padding: 5px;
  font-family: "Aladin", Arial;
}

div.note:hover > span {
  opacity: 1;
}

div.note > span {
  position: absolute;
  bottom: 2px;
  right: 2px;
  opacity: 0;
  transition: opacity .25s linear;
}

div.note button {
  margin: 2px;
}

div.note > textarea {
  margin-left: 3%;
  height: 80%;
  width: 90%;
  background: rgba(255, 255, 255, .5);
}

div.note > button {
  margin-left: 70%;
}

.board > button {
  position: fixed;
  top: 10px;
  right: 10px;
  font-size: 1.5em;
}

.edit-area, button {
  font-family: "Aladin", Arial;
}